html {
    font-size: 62.5%;
    /*10 ÷ 16 × 100% = 62.5%*/
}

.canScroll {
    overflow-x: hidden;
    overflow-y: auto;
}

@font-face {
    font-family: "footerFonts";
    src: url('../fonts/iconfont.ttf?t=1477231404') format('truetype');
}

.footerFonts {
    font-family: "footerFonts" !important;
}

.icon-xin:before {
    content: "\e7a4";
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px !important;
    }
}

.input {
    position: relative;
}

.right-fonts {
    font-size: 20px;
    position: relative;
    top: 5px;
    padding: 4px;
    color: #777;
}

.right-fonts:hover {
    color: #CC3333;
}

h1 {
    font-size: 5.6rem;
}

h1 span {
    font-size: 4rem;
    font-weight: bolder;
}

@media screen and (max-width: 960px) {
    h1 {
        font-size: 5.6rem;
    }
    h1 span {
        font-size: 4rem;
        font-weight: bolder;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 2.6rem;
    }
    h1 span {
        font-size: 2rem;
        font-weight: bolder;
    }
    .page-header {
        margin: 10px 0 5px;
    }
}

.menu {
    margin: 8px auto 8px auto;
}

.selectFont,
.allClear {
    display: inline-block;
    width: auto;
    line-height: 1.2;
    padding: 0 10px 0 10px;
}

.selectColor {
    padding: 0 15px 0 15px;
}

.slider.slider-horizontal {
    width: 500px;
}

.slider-selection , .slider-track-high {
    background-image: none;
    background-color: #ddd!important;
}

.slider-handle {
    background-image: none;
    background-color: #999;
}

@media screen and (max-width: 960px) {
    .slider.slider-horizontal {
        width: 400px;
    }
}

@media screen and (max-width: 550px) {
    .slider.slider-horizontal {
        width: 260px;
    }
}

.selectColor span {
    padding: 0 20px 0 0;
    color: #777;
    font-weight: 800;
}

select {
    border: 0;
    border-bottom: 2px solid #d2d6de;
    border-radius: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 120px;
}

select option {
    line-height: 3;
}

.slider-handle.custom {
    background: transparent none;
    /* You can customize the handle and set a background image */
}


/* Or display content like unicode characters or fontawesome icons */

.slider-handle.custom::before {
    line-height: 20px;
    font-size: 30px;
    content: '\e7a4';
    /*unicode star character*/
    color: #CC3333;
}

.inner {
    padding: 10px 5px;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    overflow-x: scroll;
    line-height: 1;
    font-size: 10em;
}

.innerSpan {
    overflow-x: scroll;
}

.footer {
    display: block;
    text-align: center;
    margin: 10px 0 8px;
}